# Modul eksternal yang tidak perlu di-track Git
PHPMailer/
fpdf186/

# Folder upload user
uploads/

# Folder admin 
admin/

# Config Vscode 
package-lock.json
package.json
.prettierrc
node_module/
.bin
@prettier
linguist-languages
php-parser
prettier
**.json